body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.usage-example {
  background-color: #3d2800;
  color: #fff;
  padding: 1em;
  margin: 1em auto;
  width: 80%;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

a {
  color: white;
}